# mod_rewrite starts here

RewriteEngine on

# does not apply to existing directories, meaning that if the folder exist on the server then don't change anything

RewriteEngine On

RewriteCond %{HTTP_HOST} !^www\.

RewriteRule ^(.*)$ https://www.%{HTTP_HOST}/$1 [R=301,L]

RewriteCond %{HTTPS} off

RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-d

# check for file in directory with .html extension

RewriteCond %{REQUEST_FILENAME}\.html -f

# Here we actually show the page that has the .html extension

RewriteRule ^(.*)$ $1.html [NC,L]

