.book{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: auto;
}

.page1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: auto;
}

.page1-content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: auto;
    
}

.imgbook{
    display: flex;
    width: 100%;
    padding: 50px;
}

.imgbook-page{
    display: flex;
    width: 100%;
    padding: 50px;
    box-shadow: 1px 0px 1px 0px black;
}