@font-face {
    font-family: 'myFont';
    src: url(Futura\ Round.ttf);
}

@font-face {
    font-family: 'myFontBold';
    src: url(Futura\ Bold.ttf)
}

@font-face {
    font-family: 'myFontBook';
    src: url(Futura\ Book.ttf);
}

@font-face {
    font-family: 'myFontThin';
    src: url(Futura\ Thin.ttf);
}

@font-face {
    font-family: 'myFontHeavy';
    src: url(Futura\ Std\ Heavy.ttf);
}

*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
    margin: 0px;
    padding: 0px;
    font-family: 'myFont';
    background-color: #171a1b;
}


.logo a {
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: courier;
    color: #2C3639;
}

.menu {
    float: right;
}

.menu11 {
    transition: 1.5;
}
.menu11:hover {
    box-shadow: #2C3639 2px 2px 2px;
}


header {
    background-color: #ecdd53;
}

li {
    text-decoration: none;
}

a {
    color: white;
    text-decoration: none;
}

.navbar1 {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;

}

.nav-menu1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    list-style-type: none;
    z-index: 2;
}

.nav-branding {
    font-size: 2.2rem;
    font-family:monospace;
    color: rgb(39, 39, 27);
    font-weight: 500;
}

.nav-branding:hover{
    transform: scale(0.9);
    transition: 0.5s;
    color: rgb(255, 255, 255)
}

.nav-link {
    transition: 0.7s ease;
    color: black;
    font-size: 18px;
    font-family: monospace;
}

.nav-link:hover {
    color: rgb(1, 33, 44);
}

.hamburger1{
    cursor: pointer;
    display: none;
}

.bar1 {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(0, 0, 0);
}

@media(max-width:768px) {
    .hamburger1{
        display: block;
    }

    .hamburger1.active .bar1:nth-child(2) {opacity: 0;}

    .hamburger1.active .bar1:nth-child(1) {transform: translateY(8px) rotate(45deg);}

    .hamburger1.active .bar1:nth-child(3) {transform: translateY(-8px) rotate(-45deg);}

    .nav-menu1 {
        position: absolute;
        left: -100%;
        top: 70px;
        gap: 20px;
        flex-direction: column;
        background-color: #ecdd53;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    nav-item{
        margin: 16px 0;
    }

    .nav-menu1.active {
        left:0;
    }
}


section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 30px;
}

a.tbl-biru {
    background: rgb(255, 255, 255);
    border-radius: 15px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #000000;
    cursor: pointer;
    font-weight: 550;
}

a.tbl-biru:hover {
    background: #ff0000;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 0.2s;
}

a.tbl-yellow {
    background: #3F4E4F;
    border-radius: 200px;
    margin-top: 10px;
    padding: 15px 25px 15px 25px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-yellow:hover {
    background: #DCD7C9;
    text-decoration: none;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 15px 0px 15px 0px;
}

a.tbl-brown {
    background: #3F4E4F;
    border-radius: 200px;
    margin-top: 10px;
    padding: 15px 25px 15px 25px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}


.tengah {
    text-align: center;
    width: 100%;
}

h2 {
    margin-top: 35px;
}

hr {
    margin-top: 10px;
}

#About_me {
margin-left: auto;
margin-right: auto;
text-align: center;
}


.about_kotak {
 position: absolute;   
}

h2 {
    font-size: 30px;
    margin-top: 20px;
}

a.tbl-hijau {
    background: rgb(255, 233, 133);
    border-radius: 20px;
    padding: 10px 15px 10px 15px;
    margin-top: 10px;
    color: #3F4E4F;
    cursor: pointer;
    font-weight: bold;
}

.okky{
    margin-top: 50px;
}

.ok {
    margin-top: 15px;
}


.contact section {
    margin-top: 100px;
    text-align: center;
}

@media screen and (max-width: 991.98px) {
    .wrapper {
        width: 80%;
    }
    .logo a {
        display: block;
        width: 100%;
        text-align: center;
    }
    nav .menu {
        width: 100%;
        margin: 0;
    }

    nav .menu ul {
        text-align: center;
        margin: auto;
        line-height: 60px;
    }
    nav .menu ul li {
        display: inline-block;
        float: none;
    }

    section {
        display: block;
    }
    section img {
        display: block;
        width: 100%;
        height: auto;
    }
    .nftcollection img {
        width: 50%;
    }
}

.imgnew{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box-1{
    display: flex;
}

.box-2{
    display: flex;
}
.img5555{
    width: 400px;
    margin-top: 20px;
}

.okeh {
    margin-left: 100px;
}

.wrapper1 {
    background: rgb(255, 233, 133);
    padding: 5px 0px 5px 0px;
    border-radius: 10px;
}

.footer1 {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section {
    width: 20%;
    margin: 0 auto;
}

.copyright {
    text-align: center ;
    width: 100%;
    padding: 10px 0px 10px 0px;
    margin-top: 10px;
}

a.tbl-blue {
    background: rgb(101, 125, 202);
    border-radius: 100px;
    margin-top: 10px;
    padding: 10px 20px 10px 20px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    margin-left: 5px;
}

a.tbl-blue:hover {
    background: #DCD7C9;
    text-decoration: none;
}

.Cante-dragon {
    overflow: hidden;

}

.Cante-dragon img {
    width: 100%;
    height: auto;
    margin-top: 0px;
    margin-bottom: 50px;
    object-fit: cover;
    transition: .2s linear;
}

.Cante-dragon:hover img {
    transform: scale(0.9);
}

.Cante-dragon {
    overflow: hidden;

}

.bgb{
    background-color: rgba(208, 211, 212, 0.322);
}

.bgb2{
    background-color: rgba(208, 211, 212, 0.322);
}

.introtext{
    color: white;
}
.Princess img {
    width: 100%;
    height: auto;
    margin-top: 0px;
    margin-bottom: 50px;
    object-fit: cover;
    transition: .2s linear;
}

.Princess:hover img {
    transform: scale(0.9);
}

.collection1 {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 5px;
}

.image-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 100px;
}

.image-container .image{
    height: 450px;
    width: 450px;
    border: 50px;
    border-radius: 50px;
    border: 1px solid rgb(255, 233, 133);
    box-shadow: 0 5px 15px #2C3639;
    overflow: hidden;
    cursor: pointer;
}

.image-container .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}

.image-container .image:hover img{
    transform: scale(1.1);
}

.title{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.kntl2{
    display: flex;
    flex-direction: column;
    row-gap: 0px;
}

.popup-img {
    position: fixed;
    top: 0; left: 0;
    background: rgba(0,0,0,.9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}

.popup-img span{
    position: absolute;
    top: 0; right: 10px;
    font-size: 40px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    z-index: 100;
}

.popup-img img{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgb(255, 233, 133);
    border-radius: 5px;
    width: 550px;
    object-fit: cover;
}

@media (max-width:568px){
    .popup-img img{
        width: 95%;
    }
}

.yuyunft img{
    margin-left: 50px;
}

.contact__container-container-grid {
    display: block;
    justify-content: center;

}

.contact__information {
    margin-top: 10px;
    margin-left: 50px;
}

a.tbl-order {
    background: #645a40;
    border-radius: 100px;
    margin-top: 10px;
    padding: 10px 20px 10px 20px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    margin-left: 5px;
}

a.tbl-order:hover {
    background: #DCD7C9;
    text-decoration: none;
}

form input, textarea {
    border: 5px;
    border-radius: 5px;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: rgb(255, 233, 133);
    font-size: 15px;
}

form button {
    padding: 10px;
    background: #645a40;
    border-radius: 2px;
    color: #fff;
}

form button:hover {
    background: #3F4E4F;
}

.footer10 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
}

.f1 {
    width: 200px;
    height: 200px;
    font-family: myFontHeavy;
    margin-top: 20px;
    margin-left: 40px;
}

.paragraf {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 0;
    cursor: pointer;
    color: #2C3639;
}

.paragraf:hover {
    text-decoration: underline;
}

.paragraf1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #3F4E4F;
    margin-top: 0;
    padding-top: 20px;
    padding-bottom: 0;
    cursor: pointer;
    color: #2C3639;
}

.f2 {
    background-color: lightcoral;
    width: 200px;
    height: 200px;
}

.f3 {
    background-color: lightblue;
    width: 200px;
    height: 200px;
}

.contact10 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
    background-color:rgba(208, 211, 212, 0.322);
}

.contact1 {
    width: 400px;
    height: 500px;
}

.gambar1 {
    width: 400px;
    height: 550px;
    padding-left: -100px;
}

.kotak10 {
    width: 350px;
    height: 450px;
    margin-left: 25px;
    margin-top: 10px;
    font-family: myFontHeavy;
    font-weight: 400;
    font-size: 25px;
    color: black;
}

.kntl {
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
}

.formcontact {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-top: 30px;
    color: black;
}

.rect1 {
    width: 300px;
    height: 5px;
    margin-top: 2px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: black;
}

.rect2 {
    width: 300px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin-top: 2px;
    color: black;
}

.a12 {

    margin-top: 15px;
}

.nft {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 0px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.nft1 {
    width: 500px;
}

.nft2 {
    width: 500px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-top: 50px;
    padding-left: 20px;
    color: rgba(0, 0, 0, 0.795);
}

.h22 {
    text-align: center;
}

.collection11 {
    display: flex;
flex-direction: row;
justify-content: space-between;
flex-wrap: wrap;
margin-left: 50px;
margin-top: 50px;
background-color: rgba(208, 211, 212, 0.322);
padding-top: 20px;
box-shadow: inset rgba(0, 0, 0, 0.274) 2px 2px 5px;
}


.img11 {
    width: 200px;
    border-radius: 2px;
    box-shadow: #2C3639 2px 5px 5px;
}

.p11 {
    text-align: center;
    margin-right: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 500;
    background-color: #cbd4d617;
}

.hovernft {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}

.hovernft1 {
    font-family: Arial, Helvetica, sans-serif;
}

.hovernft2 {
   font-family: Arial, Helvetica, sans-serif;
   padding-top: 25px;
   padding-left: 5px;

}

.colom00 {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 20px;
    margin-bottom: 20px;
}

.colom11 {
    width: 400px;
}

.colom22 {
    width: 600px;
    padding-top: 50px;
}

.astro1 {
    width: 400px;
    border-radius: 5PX;
    margin-left: 25px;
}

.tbl-brown:hover {
    background-color: grey;
    transition: 0.5S;
}

.txt1 {
    text-align: center;
    padding-top: 100px;
    font-size: 20px;
    font-weight: 400;
}

.char {
    margin-top: 120px;
    width: 400px;
    border-width: 1px;
    border-style: solid;
    background-color: #39434627;
    box-shadow: rgba(0, 0, 0, 0.233) 5px 5px 5px;
}

.button11 {
    width: 100px;
    height: 50px;
    background-color: #4e5a5e;
    border-radius: 20px;
}

.about00 {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 200px;
    margin-bottom: 700px;
}

.about11 {
    background-color: rgba(208, 211, 212, 0.322);
    width: 500px;
    height: 700px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: 400;
    padding-left: 20px;
    padding-right: 20px;
}

.blog11 {
    background-color: rgba(208, 211, 212, 0.322);
    width: 320px;
    height: 700px;
    border-radius: 20px;
    margin-top: 30px;
}

.blogjournal1 {
    background-color: #2c3639;
    color: white;
    width: 360px;
    margin-top: 50px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    box-shadow: black 2px 1px 7px;
    text-align: center;
    border-radius: 2px;
}

.letsroam {
    background-color: rgba(208, 211, 212, 0.322);
    width: 100px;
    height: 50px;
    cursor: pointer;
    transition: 0.5s;
}

.letsroam:hover {
    background-color: #2C3639;
    color: white;
}

.letsroam:active {
    transform: scale(0.9);
    transition: 0.4s;
}


.img55 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 200px;
    flex-wrap: wrap;
}

.txt55 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    padding-top: 100px;
    font-weight: 500;
}

.imgg {
    width: 600px;
    height: 400px;
}

.img555 {

    width: 450px;
}

.deskripsi {
    margin-top: ;
}

.tengah {
    margin-top: -30px;
}